* {
  box-sizing: border-box;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

body {
	background-color: #151515;
	margin: auto;
}

header {
	position: fixed;
	top: 0;
	background: black;
	height: 70px;
}

#HeaderText {
	display: inline-block;
	color: #f90;
	margin: 0;
	line-height: 70px;
	text-align: center;
	font-size: 4.5vw;
}

#navbar {
	position: fixed;
	top: 70px;
	height: 50px;
	margin: 0;
	background-color: #282828;
}

#navbar .simple-tab, #navbar .dropdown-tab {
	float: left;
	width: 20%;
	margin: 0;
	padding: 0;
	font-size: 2.25vw;
	background-color: #282828;
}

#navbar .dropdown-tab {
	list-style-type: none;
}

.simple-tab, .dropdown-tab a {
	display: block;
	text-decoration: none;
	text-align: center;
	line-height: 50px;
	color: white;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 1em;
}

.simple-tab, .dropdown-tab .tab-title {
	font-weight: bold;
	transition-duration: 0.4s;
}

.dropdown-content a {
	text-align: left;
	padding-left: 10px;
	line-height: 34px;
}

.dropdown-content {
	display: none;
}

.dropdown-tab:hover > .dropdown-content {
 	display: block;
}

.dropdown-tab:hover {
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
}

#navbar .simple-tab:hover, #navbar .dropdown-tab:hover .tab-title {
	background-color: #101010;
	border-bottom: 2px solid #f90;
}

/* Change the link color on hover */
#navbar .simple-tab:hover, #navbar .dropdown-tab .dropdown-content:hover a {
	background-color: #101010;
	color: white;
}

#navbar .active, #navbar .active:hover {
	background-color: #f90;
	color: black;
}

#SearchField {
	display: none;
	box-sizing: border-box;
	float: right;
	right: 0px;
	margin: 10px 0px 10px 0;

}

#SearchBox {
	background-color: #282828;
	color: white;
	border-style: solid;
	height: 30px;
	padding-left: 5px;
	border-radius: 4px;
	width: 150px;
	transition: width 1s;
}

#SearchButton {
	width: 30px;
	height: 30px;
	float: right;
	border: 1px solid #666666;
	margin-left: 1px;
	margin-right: 50px;
	border-radius: 4px;
}

#SearchButton:hover {
	border-color: #888888;
}

main {
	margin: auto;
	width: 83.33%;
	align-content: center;
}

#AboutMe {
	clear: left;
	margin-top: 175px;
	margin-bottom: 15px;
	color: gray;
}

.MainArticle {
	background-color: #ddd;
	width: 100%;
	margin: 15px 0;
	padding: 5px 25px 15px 25px;
	float: left;
	transition-duration: 0.3s;
}

.MainArticle h3 {
	text-align: center;
}

.MainArticle:hover {
	background-color: #eee;
}

#Education ul li {
	list-style-type: none;
}

#Education ul, #Skills ul {
	list-style-position: inside;
	padding-left: 10px;
	text-align: left;
	line-height: 25px;
}

#Skills h4 {
	padding-left: 5%;
}

#Contact p {
	padding-left: 10px;
	word-wrap: break-word;
	line-height: 25px;
}

#download-box {
	align-content: center;
}

#resume-download {
	display: block;
  padding: 15px 0;
	background-color: rgb(228, 137, 0);
	color: black;
	text-decoration: none;
	text-align: center;
}

footer {
	height: 90px;
	line-height: 30px;
	background-color: black;
	color: white;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 2.8vw;
	text-align: center;
	clear: left;
	padding: 15px 50px;
	border-top: 1px solid #202020;
}

/* For mobile phones: */
[class*="col-"] {
	float: left;
	width: 100%;
}

@media only screen and (min-width: 600px) {
	/* For tablets: */
	.col-s-1 {width: 8.33%;}
	.col-s-2 {width: 16.66%;}
	.col-s-3 {width: 25%;}
	.col-s-4 {width: 33.33%;}
	.col-s-5 {width: 41.66%;}
	.col-s-6 {width: 50%;}
	.col-s-7 {width: 58.33%;}
	.col-s-8 {width: 66.66%;}
	.col-s-9 {width: 75%;}
	.col-s-10 {width: 83.33%;}
	.col-s-11 {width: 91.66%;}
	.col-s-12 {width: 100%;}
}

@media only screen and (min-width: 768px) {
	/* For desktop: */
	.col-1 {width: 8.33%;}
	.col-2 {width: 16.66%;}
	.col-3 {width: 25%;}
	.col-4 {width: 33.33%;}
	.col-5 {width: 41.66%;}
	.col-6 {width: 50%;}
	.col-7 {width: 58.33%;}
	.col-8 {width: 66.66%;}
	.col-9 {width: 75%;}
	.col-10 {width: 83.33%;}
	.col-11 {width: 91.66%;}
	.col-12 {width: 100%;}

	#HeaderText {
		font-size: 210%;
	}

	#navbar .simple-tab, #navbar .dropdown-tab {
		font-size: 100%;
		width: 150px;
	}

	#Education ul, #Contact p {
		padding-top: 50px;
	}

	#Skills ul {
		padding-left: 5%;
	}

	.flex-container {
		display: flex;
		justify-content: space-between;
		align-items: stretch;
		width: 100%;
	}

	#Education, #Skills, #Contact {
		width: 33%;
	}

  #resume-download {
    width: 33%;
    margin-left: 33.5%;
    margin-right: 33.5%;
  }

	footer {
		font-size: 100%;
		padding: 0;
		line-height: 90px;
	}
}

@media only screen and (min-width: 1080px) {
	/*show search box on larger screen*/
	#SearchField {
		display: block;
	}

	#SearchBox:focus {
		width: 200px;
	}
}